### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Scala ###
*.class
*.log

bin/
.cache
eclipse/
=======
*.class
*.log

server.bat

.cache
**/.gradle
eclipse
.settings
local.properties
gradle.properties